/*span
{
	border:1px solid #aaaaaa;
}
*/
#principale
{
	min-height: 600px;
}
#bordurepanier
{
	border:1px solid forestgreen;
}
nav#bandeau
{

	background-color: #f6f0c4;
	background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
;
}

label#titre
{
	font-size:40px;
	font-family: 'Crimson Text', serif;
	font-weight:bold;
}

footer
{

	background-color: #f6f0c4;
	background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);

	font-size:18px;
}
div#entete
{
	min-height: 600px;
}
.classephoto{
	width:100px;
	float:left;
	height:150px;
}
/*.classephoto:hover{
	transform:scale(1.5);
}*/
.card {
	float: left;
	/* width: 200px;
	height: 250px; */
	margin: 0 15px 20px 0;
}
