/*span
{
	border:1px solid #aaaaaa;
}
*/
#principale
{
	min-height: 600px;
}
#bordurepanier
{
	border:1px solid pink;
}
nav#bandeau
{

	background-color: #f6f0c4;
	background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
;
}

label#titre
{
	font-size:40px;
	font-family: 'Crimson Text', serif;
	font-weight:bold;
}

/* preloader */

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}













footer
{

	background-color: #f6f0c4;
	background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);

	font-size:18px;
}
div#entete
{
	min-height: 600px;
}
.classephoto{
	width:100px;
	float:left;
	height:150px;
}
/*.classephoto:hover{
	transform:scale(1.5);
}*/
.card {
	float: left;
	/* width: 200px;
	height: 250px; */
	margin: 0 15px 20px 0;
}

/* navbar */
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #808080;
}

/* formulaire contact */


.contact {
  padding-top: 5rem;
  padding-bottom: 0rem;
}

.contact .fa {
  font-size: 32px;
  padding-right: 10px;
}

.contact .map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

.contact .contact-form {
  padding-top: 14px;
}

.contact .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

.contact .form-control:hover {
  border-color: #f0f0f0;
}

.contact textarea {min-height: 100px;}

.contact input {height: 50px;}

.contact input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

.contact input[type='submit']:hover {
  background: #444;
}

.contact-submit {
	width: 50%;
}

.contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}

.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}

.auth-content .form-title {
  text-align: center;
}

.auth-content form div {
  margin-bottom: 10px;
}

.auth-content form p {
  text-align: center;
}

.auth-content form p a {
  text-decoration: underline;
}
