<div class="container-fluid">
    <div class="row mt-5 pt-1">
        <div id="principale" class="col-12 col-sm-12 col-md-8 mx-auto">
          <br>
          <br>
          <br>
                <div class="container-fluid">

                <div class="row  bg-light text-secondary" >
                <div id="centre" class="col-8 mx-auto">
                        <div id="divformulaire">
                        <fieldset>
                            <legend>
                                Connexion
                            </legend>
                <label for "email">identifiant</label>
                <input type="text" id="email" class="saisie" name="email" maxlength="40" size="25" />
                <br /><br />
                <label for "mdp">mot de passe</label>
                <input type="password" id="mdp" class="saisie" name="mdp" maxlength="40" size="25" />
                <br /><br />


                    <div>
                    <button role="button" type="button" id="valider" class="btn btn-medium btn-dark">valider</button>
                     <br/>
					 <div class= "mt-2 ml-5" id = "message"> </div>

					 <div class="text-success" id="accueil"></div>

                    <br/>

                        </fieldset>
                        <br /><br />
                        </div>
                </div>


                </div>



                </div>

             </div>
        </div>
    </div>
