<div class="container-fluid">
<br/><br/>
<div class="row mt-5 pt-3">
	<div id="principale" class="col-12 col-sm-12 col-md-8 mx-auto">
	<img class="img-fluid" src="entetecat.png" alt="">
</div>
</div>

</div>
