<div class="container-fluid">
	    <div class="row mt-5 pt-1">
	        <div id="principale" class="col-12 col-sm-12 col-md-8 mx-auto">
	          <br>
	          <br>
	          <br>
	                <div class="container-fluid">

	                <div class="row  bg-light text-secondary" >
	                <div id="centre" class="col-8 mx-auto">
	                        <div id="divformulaire">
	                        <fieldset>
	                            <legend>
	                                Inscription
	                            </legend>
									<label for "nom">Nom</label>
									<input placeholder="entrez votre nom" type="text" id="nom" class="saisie" maxlength="20" size="25" />
															<br /><br />
								 <label for "prenom">Prénom</label>
								<input type="text" id="prenom" class="saisie" maxlength="20" size="25" />
															<br /><br />

							<label for "email">Adresse mail</label>
							<input type="email" id="email1" class="saisie" maxlength="30" size="35" />
															<br /><br />

															<label for "email2">confirmation </label>
															<input type="email" id="email2" class="saisie" maxlength="30" size="35" />
															<br /><br />

									<label for "mdp1">Mot de passe</label>
									<input type="password" id="mdp1" class="saisie" maxlength="40" size="25" />
									<br /><br />

									 <label for "mdp2">Confirmation</label>
									<input type="password" id="mdp2" class="saisie" maxlength="40" size="25" />
									<br /><br />


	                    <div>
	                    <button role="button" type="button" id="valider" class="btn btn-medium btn-dark">valider</button>
	                     <br/>
						 <div class= "mt-2 ml-5" id = "message"> </div>

						 <div class="text-success" id="accueil"></div>

	                    <br/>

	                        </fieldset>
	                        <br /><br />
	                        </div>
	                </div>


	                </div>



	                </div>

	             </div>
	        </div>
	    </div>
