<div class="container-fluid">

      <div id="entete" class="mx-auto row mt-4 pt-4">

		<div class=" bg-light text-secondary
		text-center col-12 col-sm-12 col-md-8 mx-auto">
		 <div id="divphoto"></div>
				<div class="text-light text-center"><h4>Chats empruntés</h4></div><br />
			        <div class="text-left" id="historique"></div>
		</div>


	</div>


</div>
