<div id="preloder">
	<div class="loader"></div>
</div>
<div class="container-fluid">
<br/><br/>
<div class="row mt-3">
	<div id="principale" class="col-12 col-sm-12 col-md-8 mx-auto">
	<label> Affichage continu</label>
	<input type="radio" name="affichage" checked id="r1"/>
	<!-- <label>Diaporama</label>
	<input type="radio" name="affichage" id="r2"/> -->
	<br>
	<label style="color:black;"for="listecateg"><strong>Catégories : </strong></label><br/>
	<select id="listecateg">
	<option value="0">Tous les chats</option>
	</select>
	<br/><br/><br/>
	<div id="divchats" style="text-align:justify;">

	</div>

</div>
</div>

</div>
