<div class="container-fluid">
	<div class="row mt-5 pt-3">
		<img class="img-fluid" src="emprunt.png" alt="">
	</div>

<div class="row mt-1">
	<div class="col-12 col-sm-12 col-md-4 col-lg-4">
		<br>
<h3 class="text-dark">Les emprunteurs</h3>
<h5 class="text-dark">Passez du temps avec les chats</h5>
<h6 class="text-secondary text-justify">
Vous adorez les chats mais ne pouvez en avoir ? Des maîtres vous confient gratuitement le leur,de quelques heures, d’un weekend, amusez-vous  et profitez avec eux, pour leur plus grand bonheur et pour le vôtre!
</h6>
	</div>




	<div class="col-12 col-sm-12 col-md-4 col-lg-4">
		<br>
<h3 class="text-dark">Les propriétaires des chats </h3>
<h5 class="text-dark">Faites garder votre chat</h5>
<h6 class="text-secondary text-justify">
	Vous partez en weekend, en vacances, vous avez besoin de quelqu’un pour sortir votre chien de temps en temps pendant la journée.Des passionnés gardent votre chat gratuitement, juste pour le plaisir.
</h6>
	</div>



		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<br>
	<h3 class="text-dark">La garde</h3>
	<h5 class="text-dark">Passez du temps avec les chats</h5>
	<h6 class="text-secondary text-justify">
		BorrowMyCat vous connecte directement à des passionnés près de chez vous qui prennent soin de votre chat gratuitement.

Vous partez en weekend, en vacances ou souhaitez simplement que votre chat rencontre de nouvelles personnes ? Confier votre chat à un emprunteur.
	</h6>
		</div>

</div>
</div>
