<div class="container-fluid">
    <div class="row mt-5 pt-1">
        <div id="principale" class="col-12 col-sm-12 col-md-8 mx-auto">
                <div class="container-fluid">
<br>
<br>

                <div class="row  bg-light text-secondary" >
                <div id="centre" class="col-8 mx-auto">
                  <form class="" action="modeles/contact.php" method="post">


                        <div id="divformulaire">
                        <fieldset>

                            <legend>
                              Contactez-nous
                              <br>
                              <br>
                            </legend>
                <label for "nom">Nom</label>
                <input type="text" id="nom" class="saisie" name="nom" maxlength="40" size="25" required/>
                <br /><br />
                <label for "email">Email</label>
                <input type="text" id="email" class="saisie" name="email" maxlength="40" size="25" required />
                <br /><br />
                <label for "email">Téléphone</label>
                <input type="text" id="telephone" class="saisie" name="telephone" maxlength="15" size="25" required />
                <br /><br />
                <label for "email">Message</label>
                <input type="text" id="message" class="saisie" name="message" maxlength="500" size="25" required />
                <br /><br />


                <br /><br />


                    <div>
                    <button   id="valider" class="btn btn-medium btn-dark">Envoyez</button>
                      </form>
                     <br/>
					 <div class= "mt-2 ml-5" id = "message"> </div>
 <div class="text-warning" id="accueil"></div>
                    <br/>

                        </fieldset>
                        <br /><br />
                        </div>
                </div>


                </div>



                </div>

             </div>
        </div>
