 <!-- Bootstrap core CSS -->
  
  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
   
   <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="css/ionicons.min.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!--<link rel="preconnect" href="https://fonts.gstatic.com">!-->
<link href="https://fonts.googleapis.com/css2?family=Poiret One" rel="stylesheet"> 
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			  crossorigin="anonymous">
     </script>
	 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>!-->
</head>

 <nav class="navbar navbar-expand-lg text-primary navbar-default bg-light fixed-top" id="mainNav">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-light navbar-toggler-icon"></span>
					<i class="bg-light fa fa-bars"></i>
					
      </button>
	 
      <div class="text-primary bg-light collapse navbar-collapse" id="navbarResponsive">
	  <a class="float-left navbar-brand" href="#">
					
				</a>
        <ul class="text-primary bg-light navbar-nav ">
			 <li class="nav-item">
            <h2 class="float-left text-primary"><div class=""></div></h2>
             </li>
  <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
		    <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
        		<li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
		     
		   <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
		    <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#debut">Accueil</a>
          </li>
		  
		
		 
		   
		   <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">
		Contact</a>
          </li>
		  
		    <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
		    <li class="nav-item">
		    &nbsp;&nbsp;
		   </li>
		   
		
		  
		  
		     </ul>
      </div>
    </div>
	
	
 
  </nav>