<footer class="mt-4">
      <div class="text-center">
	     BORROW MY CAT
		 <br />
	     Copyright : BORROWMYCAT
	  </div>
</footer>
</body>
<!-- Les liaisons aux scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/fonctionsajax.js"></script>
